

<% include ../partials/header %>
    

    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Welcome to my Photoblog!</h1>
                <p id="slogan"><em>“Which of my photographs is my favourite? The one I’m going to take tomorrow.”</em></p>
                <h5 id="slogan-author"><strong>- Imogen Cunningham</strong></h5>
                <p>
                    <a class="btn btn-primary btn-lg" href="/photos/new">Add a New Photo</a>
                </p>
            </div>
        </header>




        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
                <% photos.forEach( (photo) => { %>
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnail">
                            <img src="<%= photo.image %>">
                            <div class="caption">
                                <h4><%= photo.title %></h4>
                                <h4>by <%= photo.author.username %></h4>
                            </div>
                            <p>
                                <a href="/photos/<%= photo._id %>" class="btn btn-primary">More Details</a>
                            </p>                         

                        </div>                       
                    </div>
                    <% }); %>
        </div>
    </div>
    <% include ../partials/footer %>