.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}

.navbar-nav>li>a {
    padding: 15px 10px 0px 10px;
}

#signed-as {
    padding: 15px;
    color: #777;
}